<nz-layout class="app-layout">
  <nz-sider class="menu-sidebar" nzCollapsible nzWidth="256px" nzBreakpoint="md" [(nzCollapsed)]="isCollapsed"
    [nzTrigger]="null">
    <div class="sidebar-logo">
      <a>
        <h1>Backoffice Panel</h1>
      </a>
    </div>
    <ul nz-menu nzTheme="dark" nzMode="inline" [nzInlineCollapsed]="isCollapsed">
      <li nz-menu-item nzMatchRouter>
        <a routerLink="/dashboard">
          <nz-icon nzType="dashboard"></nz-icon>
          <span>Dashboard</span>
        </a>
      </li>
      <li nz-menu-item nzMatchRouter>
        <a routerLink="/merchants">
          <nz-icon nzType="shop"></nz-icon>
          <span>Merchants</span>
        </a>
      </li>
      <li nz-menu-item nzMatchRouter>
        <a routerLink="/settlement">
          <nz-icon nzType="transaction"></nz-icon>
          <span>Settlement</span>
        </a>
      </li>
      <li nz-menu-item nzMatchRouter>
        <a routerLink="/reports">
          <nz-icon nzType="file-text"></nz-icon>
          <span>Reports</span>
        </a>
      </li>
      <li nz-menu-item nzMatchRouter>
        <a routerLink="/monitoring">
          <nz-icon nzType="eye"></nz-icon>
          <span>Monitoring</span>
        </a>
      </li>
    </ul>
  </nz-sider>
  <nz-layout>
    <nz-header>
      <div class="app-header">
        <span class="header-trigger" (click)="isCollapsed = !isCollapsed">
          <nz-icon class="trigger" [nzType]="isCollapsed ? 'menu-unfold' : 'menu-fold'" />
        </span>
      </div>
    </nz-header>
    <nz-content>
      <div class="inner-content">
        <router-outlet></router-outlet>
      </div>
    </nz-content>
  </nz-layout>
</nz-layout>