<nz-table #table [nzData]="merchants">
  <thead>
    <tr>
      <th [nzSortFn]="sortByName">Company name</th>
      <th>Location</th>
      <th>Transaction limit</th>
      <th>Status</th>
      <th>Payment methods</th>
      <th>Nip</th>
      <th>Email</th>
      <th>Address</th>
      <th>Company type</th>
    </tr>
  </thead>

  <tbody>
    <tr *ngFor="let item of table.data">
      <td>{{ item.companyName }}</td>
      <td>{{ item.companyLocation }}</td>
      <td>{{ item.transactionLimit }}</td>
      <td>
        <nz-tag [nzColor]="getStatusColor(item.status)">
          {{ item.status }}
        </nz-tag>
      </td>
      <td>{{ item.paymentMethods }}</td>
      <td>{{ item.nip }}</td>
      <td>{{ item.email }}</td>
      <td>{{ item.address }}</td>
      <td>{{ item.companyType }}</td>
    </tr>
  </tbody>
</nz-table>