<div class="forgot-container">
  <div class="forgot-card">
    <div class="forgot-header">
      <h1>Reset Password</h1>
      <p>Enter your email to receive reset instructions</p>
    </div>

    <form nz-form [formGroup]="forgotForm" (ngSubmit)="onSubmit()">
      <nz-form-item>
        <nz-form-control nzErrorTip="Please enter a valid email">
          <nz-input-group nzPrefixIcon="mail" nzSize="large">
            <input nz-input type="email" formControlName="email" placeholder="Email address" />
          </nz-input-group>
        </nz-form-control>
      </nz-form-item>

      <nz-form-item class="submit-button">
        <button nz-button nzType="primary" nzSize="large" nzBlock [disabled]="forgotForm.invalid">
          Send Reset Link
        </button>
      </nz-form-item>
    </form>

    <div class="back-to-login">
      <a routerLink="/auth/login">
        <nz-icon nzType="arrow-left"></nz-icon>
        Back to login
      </a>
    </div>
  </div>
</div>